<!DOCTYPE html>
<html lang="en">

<head>
    <title>Food Ordering System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <a class="navbar-brand" href="{%url 'home' %}">Online Food Ordering</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{%url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'order_history' %}">Order History</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'cart' %}">
                        <i class="fas fa-shopping-cart"></i> {{cart_count}} </a>
                </li>
                {%if request.user.is_staff is True%}
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'admin:index' %}">Visit admin panel</a>
                </li>
                {%endif%}
                {%if request.user.is_authenticated == False%}
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/accounts/login/">Login</a>
                </li>
                {%else%}
                <li class="nav-item">
                    <span class="nav-link" href="#">Welcome {{request.user}}</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/accounts/logout/">Logout</a>
                </li>
                {%endif%}

            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        {%if msg%}
        <br>
        <div class="alert alert-success">
            {{msg}}
        </div>
        {%endif%}
        {%if error%}
        <br>
        <div class="alert alert-warning">
            {{error}}
        </div>
        {%endif%}


        {%block base%}

        {%endblock%}
    </div>

</body>

</html>