{%extends 'FoodApp/base.html' %}
{%block base%}

<br>
<h1>
    Products:
</h1>
<div class="row">
    {%for product in product_list%}
    <div class="col-md-4">
        <figure class="card card-product">
            <div class="img-wrap mt-2 ml-2"><img src="{{product.image.url}}" width="150" height="150"></div>
            <figcaption class="info-wrap">
                <a href="/product/{{product.id}}">
                    <h5 class="title ml-1">{{product.name}}</h5>
                </a>
                <p class="desc text-muted ml-1">{{product.get_category_display}}</p>
            </figcaption>
            <div class="price-wrap h5">
                <span class="ml-1">₹{{product.price}}</span>
            </div>
            <div class="bottom-wrap">
                <form method="POST">
                    <span class="text-muted ml-1">Quantity:</span>
                    <input type="number" name="quantity" value = "1" min="1" max="20">
                    <input type="text" hidden name="product" value="{{product.id}}">
                    <input type="submit" value="Add to cart" class=" btn btn-sm btn-primary float-right mr-4">
                    {%csrf_token%}
                </form>
                <br>
            </div> <!-- bottom-wrap.// -->
        </figure>
    </div> <!-- col // -->
    {{product.pic.url}}
    {%endfor%}
</div> <!-- row.// -->
{%endblock%}